@charset "utf-8";
/*雪怪404style 2015年3月24日09:10:01*/
@import "go/_all";
body{
    background: #ffffff;
}
.x-wrap{
    height: 100%;
    position: relative;
}
.page-404{
    text-align: center;
}
.imgB{
    padding: 40px 0;
}
.imgB img{
   max-width: 360px;
}
.btn404{
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid #ada493;
    color: #ada493;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0.2);
}
.btn404:active{
    background-color:rgba(0,0,0,0.2) ;
}
