@charset "utf-8";
/*雪怪登陆style 2015年3月30日13:21:10*/
input {
	line-height:none;
	border:none;
	background:transparent;
}
.userLogin {
	border-radius:5px;
	min-width:270px;
	width: 90%;
	margin:20px;
	max-width: 600px;
	min-height:300px;
	position:absolute;	
	background:#FFF;
	top: 50%;
	margin-top: -150px;
	z-index:102;
	overflow:hidden
}
.userLogin h2.title {
	color:#97bc4d;
	font-size:18px;
	height:57px;
	line-height:57px;
	text-align:center;
	border-bottom:1px solid #e5ded2;
	position:relative;
	font-weight:normal
}
.userLogin h2.title a.close {
	background:url(../images/icon/login_close.png) no-repeat;
	width:28px;
	height:28px;
	background-size:100%;
	position:absolute;
	right:20px;
	top:14px;
}
.userLogin h2.title a.btnBack {
	background:url(../images/icon/icon_login_back.png) no-repeat center center/20px 20px;
	width:44px;
	height:44px;
	position:absolute;
	left:8px;
	top:8px;
}
.userLogin form {
	padding:20px 20px 10px;
}
.userLogin form li {
	position: relative;
	background:#f9f7f1;
	width:100%;
	height:24px;
	border:1px solid #e5ded2;
	margin-bottom:12px;
	padding:6px 0;
	display:block;
	color:#7f735a;
}
.userLogin form li input:active{
	border-color: #97bc4d;
	border: 1px solid #97bc4d;
}
.userLogin form li input:focus{
	border-color: #97bc4d;
}
.userLogin form li:first-child input {
	height:24px;
	margin-right:5px;
	display:block;
	padding:5px 0px;
	margin-top: -5px; 	
	font-size:14px;
	width: 100%;
	text-indent: 10px
}

.userLogin form li:last-child input {
	height:24px;
	width:100%;
	margin-top: -5px;
	padding:5px 0px;
	font-size:14px;
	display:inline-block;
	text-indent: 10px;
}
.userLogin form button {
	border: 1px solid #97bc4d;
	background: #FFF;
	color: #97bc4d;
	font-size: 12px;
	height: 37px;
	padding: 0 15px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
.userLogin a.jdLogin {
	font-size:12px;
	float:right;
	margin-right:20px;
	color:#7f735a
}
.userLogin a.button {
	background:#97bc4d;
	height:50px;
	width:100%;
	text-align:center;
	color:#FFF;
	line-height:50px;
	display:block;
	position:absolute;
	bottom:0;
	font-size:18px;
}
.userLogin .checkbox {
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../images/icon/icon_checkbox_none2.png) no-repeat center center;
	background-size:20px 20px;
	margin-right:3px;
}
.userLogin .checked {
	background-image:url(../images/icon/icon_checkbox_checked2.png);
}
.userLogin .checkgr {
	float:left;
	padding-left:20px;
}
.userLogin .checkgr label {
	font-size:13px;
	color:#7f735a;
}
.userLogin .checkgr a {
	color:#97bc4d;
	font-size:13px;
	padding-left:5px;
	text-decoration:underline
}
.userLogin a.disableButton {
	background:none repeat scroll 0 0 #9D9D9D;
	cursor:text;
	bottom:0;
	color:#fff;
	display:block;
	font-size:18px;
	height:50px;
	line-height:50px;
	position:absolute;
	text-align:center;
	width:100%;
}
/*弹出层css*/
.dialogWarp {
	width:200px;
	background:#FFF;
	border-radius:5px;
	opacity:1
}
.dialogWarp h2 {
	position:relative;
	text-align:center;
	height:40px;
	line-height:40px;
	color:#010101;
	font-weight:normal;
	font-size:18px;
	border-bottom:1px solid #F4F4F4;
}
.dialogWarp h2 a {
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	width:40px;
	height:40px;
	font-size:30px;
	transition:all 0.1s ease-in;
	border-radius:40px;
	text-align:center;
	line-height:35px;
}
.dialogWarp h2 a:hover {
	transform:scale(1) rotate(90deg);
}
.dialogWarp .dialogCon {
	padding:15px;
	font-size:15px;
	line-height:1.8;
	color:#333;
}
.dialogWarp .buttonGroup {
	text-align:center;
	padding-bottom:18px;
	margin:0 auto;
}
.dialogWarp .buttonGroup .btn {
	display:inline-block;
	width:100px;
	height:35px;
	line-height:35px;
	border:1px solid #F4F4F4;
	border-radius:5px;
	background:#DDD;
	color:#FFF;
}
.dialogWarp .buttonGroup .sure {
	background:#F34B4A;
}
.dialogWarp .buttonGroup .cancel {
	background:#9f9f9f;
}
#dialogMaskId {
	background:#000;
}
