@charset "utf-8";
/*雪怪会员中心style 2015年3月24日09:10:01*/
/*我的*/
.x-wrap{
    background-color: #fff;
}
.userArea {
    background:url(../images/my_bg.png);
    width:100%;
    max-width:640px;
    min-width:320px;
    height:100%;
    max-height:270px;
    min-height:170px;
    padding-top: 30px;
}
.userArea i.icon_my {
    background:url(../images/icon/icon_my.png) no-repeat center center;
    background-size:100%;
    width:100px;
    height:100px;
    display:block;
    margin:0 auto;    
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #FFF;
}
.userArea a {
    color:#FFF;
    padding:8px 10px;
    border:1px solid #FFF;
    border-radius:5px;
    margin:9px auto 0;
    display:block;
    text-align:center;
    width:60px;
}
.userArea a.login {
    border:none;
    width:auto;
}
.ctrlArea {
    border-top:1px solid #e5ded2;
    border-bottom:1px solid #e5ded2;
    margin-top:10px;
    background:#FFF;
}
.ctrlArea a {
    position:relative;
    border-bottom:1px solid #e5ded2;
    display:block;
    height: 40px;
    line-height: 40px;
    padding:10px  5px;
    color:#463417;
    -webkit-tap-highlight-color:rgba(0,0,0,.1);
}
.ctrlArea a:active{
    background-color: #d0d0d0;
}
.ctrlArea a:last-child {
    border-bottom:none
}
.ctrlArea var.right {
    background:url(../images/icon/icon_arrow_right.png) no-repeat center center;
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:50px;
    background-size:20px 20px;
}
.ctrlArea i.iconAddress {
    background:url(../images/icon/icon_address.png) no-repeat;
    background-size:100%;
}
.ctrlArea i.iconContact {
    background:url(../images/icon/icon_contact.png) no-repeat;
    background-size:100%;
}
.ctrlArea i.iconAbout {
    background:url(../images/icon/icon_about.png) no-repeat;
    background-size:100%;
}
.ctrlArea i {
    width:30px;
    height:30px;
    background-size:100%;
    display:inline-block;
    vertical-align:middle
}
/*footer*/
.btn_pay_style {
    height:50px;
    max-width:640px;
    width:80%;
    margin:20px auto 0;
    padding-bottom:20px;
}
.btn_pay_style button {
    width:94%;
    background:#fa3e3e;
    height:44px;
    line-height:44px;
    text-align:center;
    border:none;
    color:#FFF;
    font-size:16px;
    display:block;
    margin:0 auto;
}
.btn_pay_style button.btn_cancle {
    border:1px solid #7f735a;
    width:94%;
    height:44px;
    background:#fcfaf7;
    line-height:44px;
    text-align:center;
    font-size:16px;
    border-radius:5px;
    display:block;
    margin:0 auto 15px;
    color:#7f735a;
}
address.address {
    background:url(../images/address_bg.png) no-repeat 0 0/100% 100% #FFF;
    border-bottom:1px solid #e5ded2;
    display:-webkit-box;
    display:-ms-flexbox;
    position:relative;
    margin-top:10px;
}
address.address .addrNewTips {
    padding:42px 35px 44px 20px;
    font-size:16px;
    color:#666;
    text-align:center;
}
address.address .addrNewTips a.add {
    margin-top:-5px;
    display:block;
}
address.address i.iconAddAddr {
    background:url(../images/icon/icon_add_address.png) no-repeat;
    width:20px;
    height:20px;
    background-size:100%;
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
    margin-top:-4px
}
address.address .pei_addr {
    padding:15px 35px 15px 15px;
    color:#463417;
    font-size:14px;
    width:100%;
    display:block;
    -webkit-box-flex:1;
}
address.address .pei_addr h3 {
    color:#7f735a;
    height:28px;
    line-height:28px;
    text-indent:-4px;
    font-size:12px;
    font-weight:normal;
    margin-bottom:5px;
}
address.address i.iconAddr {
    background:url(../images/icon/icon_header_addr.png) no-repeat 0 -1px;
    width:24px;
    height:24px;
    background-size:100%;
    display:inline-block;
    vertical-align:middle
}
address.address .pei_addr span {
    display:block;
    margin-top:5px;
    font-size:14px;
}
address.address .pei_addr span em {
    padding-right:10px;
}
address.address .right {
    background:url(../images/icon/icon_arrow_right.png) no-repeat center center;
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:50px;
    background-size:20px 20px;
}
/*about*/
.about_box {
    padding:38px 0;
    text-align:center;
    font-size:13px;
}
.about_box i {
    background:url(../images/icon/xueGuai.png) no-repeat center top/100px 100px;
    width:100px;
    height:100px;
    margin:0 auto;
    display:block;
    margin-bottom:10px;
}
.copyright {
    font-size:12px;
    text-align:center;
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    bottom:0;
    line-height:20px;
    padding-bottom:10px;
    color:#c8c7c6;
}
.copyright strong {
    font-size:15px;
    font-weight:normal
}
.ctrlAreaZone {
    border-top:1px solid #e5ded2;
    border-bottom:1px solid #e5ded2;
    background:#FFF;
}
.ctrlAreaZone a {
    position:relative;
    border-bottom:1px solid #e5ded2;
    display:block;
    padding:15px 0 10px;
    font-size:14px;
    color:#463417;
    text-indent:15px;
}
.ctrlAreaZone a:last-child {
    border-bottom:none
}
.ctrlAreaZone var.rightText {
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    padding:15px 15px 10px;
    color: #b4b4b4;
}
.ctrlAreaZone var.right {
    background:url(../images/icon/icon_arrow_right.png) no-repeat center center;
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:50px;
    background-size:20px 20px;
}


.xue_m {
    margin:10px 0;
}
.xue_m .ht {
    padding-top:3px;
    padding-bottom:2px;
    line-height:25px;
    background:#97bc4d;
    text-align: center;
    font-weight:900;
    color:#fff;
    font-size:16px;
    margin:0 10px;
}
.xue_m .hc {
    padding:8px 10px;
    font-size:14px;
    line-height:20px;
    color:#333;
}
