@charset "utf-8";
/* CSS Document */
body{
    background-color: #f0efed;
}
.x-wrap{
    background-color: #f0efed;
}
.about_box {
    padding:38px 0;
    text-align:center;
    font-size:13px;
}
.about_box i {
    background:url(../images/icon/pdj.png) no-repeat center top/78px 78px;
    width:78px;
    height:78px;
    margin:0 auto;
    display:block;
    margin-bottom:10px;
}
.copyright {
    font-size:12px;
    text-align:center;
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    bottom:0;
    line-height:20px;
    padding-bottom:10px;
    color:#c8c7c6;
}
.copyright strong {
    font-size:15px;
    font-weight:normal
}
.ctrlAreaZone {
    border-top:1px solid #e5ded2;
    border-bottom:1px solid #e5ded2;
    background:#FFF;
}
.ctrlAreaZone a {
    position:relative;
    border-bottom:1px solid #e5ded2;
    display:block;
    padding:15px 0 10px;
    font-size:14px;
    color:#463417;
    text-indent:15px;
}
.ctrlAreaZone a:last-child {
    border-bottom:none
}
.ctrlAreaZone var.right {
    background:url(../images/icon/icon_arrow_right.png) no-repeat center center;
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:50px;
    background-size:20px 20px;
}
.opinion_box {
    font-size:14px;
    color:#463417;
    padding:15px;
}
.ctrlArea {
    margin:0 15px;
    border:1px solid #e5ded2;
    border-radius:5px;
    height:175px;
    padding:5px;
    background:#FFF;
}
.ctrlArea textarea {
    border:0;
    height:175px;
    width:100%;
    background:#FFF;
    resize:none;
    font-size:13px;
}

