@charset "utf-8";
/*雪怪首页注册style 2015年3月24日09:10:01*/
.registered_in{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999991;
    background-color: rgba(143,179,74,0.95);

}
.registered_wrap{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
    /*background-color: #3735b8;*/
    position: absolute;
    z-index: 999992;
    top: 0;
}
.regLan{
    width: 100%;
    position: absolute;
    color: #ffffff;
    text-align: center;
    /*top: 50%;*/
    /*background-color: #0066cc;*/

}
/*.regLan_1{*/
    /*min-height: 240px;*/
    /*margin-top: -120px;*/
/*}*/
/*.regLan_2{*/
    /*min-height: 240px;*/
    /*margin-top: -120px;*/
/*}*/
/*.regLan_3{*/
    /*min-height: 240px;*/
    /*margin-top: -120px;;*/
/*}*/
.regLan h5{
    font-size: 26px;
    line-height: 1.6em;
    padding-top: 10px;
    margin-bottom: 10px;
}
.inputD{
    position: relative;
    margin-bottom: 20px;
    background-color: rgba(143,179,74,0.95);
}
.regLan regLan_3{
    background-color: rgba(143,179,74,0.95);
}
.regLan input{
    color: #FFF;
    background-color: transparent;
    border: 2px solid #FFF;
    border-radius: 5px;
    text-align: left;
    padding: 12px 5px;
    width: 80%;
    position: relative;
    z-index: 10;

    -webkit-appearance: none;
}
.registered_wrap,.registered_in,.innerWrap{
    background-color: rgba(143,179,74,0.95);
}
html,body,.innerWrap{
    height: 100%;
    background-color: rgba(143,179,74,0.95);
}
.regLan input:focus{
    /*transition:border linear .2s,box-shadow linear .5s;*/
    /*-moz-transition:border linear .2s,-moz-box-shadow linear .5s;*/
    /*-webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;*/
    /*outline:none;border-color: rgba(15, 177, 45, 0.75);*/
    /*box-shadow:0 0 8px rgba(93,149,242,.105);*/
    /*-moz-box-shadow:0 0 8px rgba(93,149,242,.5);*/
    /*-webkit-box-shadow:0 0 8px rgb(14, 223, 170);*/
}
.inputLab{
    position: absolute;
    left: 10%;
    top: 0;
    width: 80%;
    padding: 12px 0px;
    text-align: left;
    color:#e1e1e1 ;
    z-index: 0;
}
.nextWa{
    height: 50px;
    text-align: center;
}
.baoInp{
    position: relative;
    margin-bottom: 20px;
}
.selectAddress{
    position: absolute;
    left: 10%;
    top: 0;
    width: 80%;
    height: 100%;
    -webkit-opacity:0.0;
    -moz-opacity:0.0;
    -o-opacity:0.0;
    opacity: 0;
}
.selectAddress1{
    z-index: 11;
}
.selectAddress2{
    z-index: 10;
}

.selectRemind{
    position: absolute;
    right: 0;
    top: -30px;
    padding-right: 10px;
    display: none;
}
.reg_btn1{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
    padding-top: 10px;
}
.reg_btn1 span{
    width: 100px;
    height:40px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
    background:#89B043 url("../images/icon/reg_btn2.png") no-repeat 40px 12px/16.5px 16.5px;
    -webkit-animation-iteration-count: infinite;/* 动画无限播放 */
    -webkit-animation-timing-function:step-start;/* 马上跳到动画每一结束桢的状态 */
}
.reg_btn1 span.on{/* 正常 */
    -webkit-animation-name: person-normal;
    -webkit-animation-duration: 800ms;
}
@-webkit-keyframes person-normal{
    0% {background-position: 40px 12px;}
    14.3% {background-position: 42px 12px;}
    28.6% {background-position:46px 12px;}
    42.9% {background-position:50px 12px;}
    57.2% {background-position:46px 12px;}
    71.5% {background-position:44px 12px;}
    85.8% {background-position:42px 12px;}
    100% {background-position: 40px 12px;}
}
.reg_btn1:active,.reg_start:active{
    background-color:  rgba(0,0,0,0.1);;
}
.reg_start{
    display: inline-block;
    border: 1px solid #FfF;
    padding:  10px 20px;
    color: #FFF;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    　　color: #e1e1e1;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    　　color: #e1e1e1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    　　color: #e1e1e1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    　　color: #e1e1e1;
}
.phoneLab,.codeLab{
    text-align: left;
}
.regLan .rTextPhone,.regLan .rTextCode{
    text-align: left;
    text-indent: 5px;
}
.getPhoneCode{
    position: absolute;
    right: 10%;
    top: 8px;
    display: inline-block;
    padding: 6px 5px;
    border: 1px solid #eee;
    background-color: rgba(170,196,120,0.9);
    color: #FFF;
    z-index: 99;
    border-radius: 5px;
}
.footer_re{
    padding:0 10px;
    text-align: right;
    position: relative;
    margin-top: -40px;
    a{
        color: #f2f2f2;
        position: relative;
        display: inline-block;
        border-bottom: 1px solid #f2f2f2;
        margin-right:10%;
    }
    a::after {
        content: " ";
        position: absolute;
        width: 19px;
        height: 21px;
        background: url("../images/icon/suibian.png") no-repeat center center/14px 12px;
    }

}